.about-me{
    height: 100% !important;
    margin: 5% auto;

}
.about-me-title{
    font-size: 44px;
    color: #062c64 !important;
    text-decoration: underline;
    margin-bottom: 2%;
}
.about-me-content{
    font-size: 26px;
    width: 80%;
    margin: auto;
}
@media screen and (max-width: 786px) {
    .about-me-content{
        font-size: 16px !important;
        width: 90% !important;
        margin: 5% auto auto !important;
    }
}