.contact{
    height: 30vh !important;
    margin: 5% auto;
}
.contact-title{
    font-size: 44px;
    color: #062c64 !important;
    text-decoration: underline;
}

.contact-items{
    width: 100%;
    height: 70%;
    padding-bottom: 2%;
}

@media screen and (max-width: 786px) {
    .contact{
        height: 50vh !important;
        margin: 0 !important;
        margin-bottom: 10% !important;
    }
    .contact-items {
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center !important;
        margin-bottom: 10% !important;
    }
}