@media screen and (max-width:768px){
    #primary-navigation{
        color: black;
        margin: 0;
        position: fixed;
        inset: 0 0 0 0;
        flex-direction: column;
        padding: min(30vh,10rem) 2em;   
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        z-index: 1000;
        transform: translateX(100%);
        transition: all 250ms ease-in-out;
        overflow-y: hidden;
    }
    #primary-navigation[isopen="true"]{
        transform: translateX(0%);
        box-shadow: -5px 0 10px hsl(217, 91%, 60%, 0.500);

    }

    .nav-toggle{
        display: block;
        position: absolute;
        top: 2rem;
        right:2rem;
        z-index: 9999;
        font-size: 2rem;
    }


    .nav-btn[showopen="open"]{
        display: inline;
    }
    .nav-btn[showclose="close"]{
        display: inline;
    }
}