.title {
    color: var(--bs-primary) !important;
}

.project-img {
    min-width: 60%;
    border: 2px solid black;
    border-radius: 1rem;
    overflow: hidden;
}
.project-item {
    padding: 2%;
    height: 100%;
    font-size: large;
}

@media screen and (max-width: 786px) {
    .project-img {
        padding-bottom: 1%;
    }
    .title {
        padding: 4% 0 0;
    }
    .project-item {
        padding: 0 !important;
        font-size: small !important;
    }
}
@media screen and (max-width: 1440px) {
    .title {
        padding-top: 1%;
    }
    .project-box{
        margin-top: 10%;
    }
}