.projects{
    height: 80vh !important;
    margin: 5% auto;
}

.projects-title{
    font-size: 44px;
    color: #062c64 !important;
    text-decoration: underline;
    margin-bottom: 2%;
}
.project-card{
    height: 100%;
}
.arrow-btn{

    outline: none;
    font-size: 30px;
    font-weight: bolder;
    border: 3px solid #062c64;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.arrow-btn:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 786px) {
    .projects-title{
        padding-top:10% !important;
        margin-bottom: -5%;
    }
    .project-card{
        height: max-content !important;
    }
}